<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fpp.androidtestapp">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <!-- ********************  联系人权限  ******************** -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <!-- ********************  联系人权限  ******************** -->
    <!-- android:theme="@style/Theme.AppCompat.NoActionBar" -->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppThemeOne">
        <activity android:name=".activity.impl.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.impl.customimageview.ImageViewActivity" />
        <activity android:name=".activity.impl.customimageview.ImageViewTwoActivity" />
        <activity android:name=".activity.impl.textview.RadioButtonActivity" />
        <activity android:name=".activity.impl.imageview.ImageViewActivity" />
        <activity android:name=".activity.impl.adapterview.AdapterViewActivity" />
        <activity android:name=".activity.impl.adapterview.ExpandableListViewActivity" />
        <activity android:name=".activity.impl.adapterview.SpinnerActivity" />
        <activity android:name=".activity.impl.recyclerview.RecyclerViewActivity" />
        <activity android:name=".activity.impl.progressbar.ProgressBarActivity" />
        <activity android:name=".activity.impl.datetimepicker.DateTimePackerActivity" />
        <activity android:name=".activity.impl.numberpicker.NumberPickerActivity" />
        <activity android:name=".activity.impl.wheelview.WheelViewActivity" />
        <activity
            android:name=".activity.impl.titlebar.ToolBarActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- 解决Android 7.0 读写本地文件的问题 -->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.fpp.androidtestapp.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <!-- 解决Android 7.0 读写本地文件的问题 -->
        <activity android:name=".activity.impl.recyclerview.RcyclerViewHorizontalActivity" />
        <activity android:name=".activity.impl.recyclerview.LVOrRCVActivity" />
        <activity android:name=".activity.impl.adapterview.ListViewActivity" />
        <activity android:name=".activity.impl.nitificationmanage.NotificationManageActivity" />
        <activity android:name=".activity.impl.adapterview.AdapterViewFlipperActivity" />
        <activity android:name=".activity.impl.adapterview.StackViewActivity" />
        <activity android:name=".activity.impl.intent.IntentOneActivity" />
        <activity android:name=".activity.impl.intent.IntentTwoActivity" />
        <activity android:name=".activity.impl.intent.IntentThreeActivity">
            <intent-filter>

                <!-- 指定该Activity能响应Action属性值为指定字符串的Intent -->
                <action android:name="com.fpp.androidtestapp.activity.impl.intent.THREE_ACTION" />
                <!-- 指定该Activity能响应Category属性值为category字符串的Intent -->
                <category android:name="category" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.impl.intent.IntentFourActivity">

            <intent-filter>
                <!-- 指定该Activity能响应Action属性值为指定字符串的Intent -->
                <action android:name="com.fpp.androidtestapp.activity.impl.intent.THREE_ACTION" />
                <!-- 指定该Activity能响应Category属性值默认属性值的Intent -->
                <category android:name="android.intent.category.DEFAULT" />
                <!-- 指定该Activity的data属性 -->
                <!--<data android:mimeType="ad"
                    android:scheme="ad"
                    android:host="@string/action_settings"
                    android:port="25"
                    android:path="asd/asd"
                    android:pathPrefix="52"
                    android:pathPattern="asdf"
                    />-->

            </intent-filter>
        </activity>
        <activity android:name=".activity.impl.intent.IntentFiveActivity" >

        </activity>
        <activity android:name=".activity.impl.intent.IntentSixActivity" >

        </activity>
        <activity android:name=".activity.impl.intent.IntentSevenActivity" >

        </activity>
        <activity android:name=".activity.impl.intent.IntentEightActivity" >

        </activity>
        <activity android:name=".activity.impl.intent.IntentNineActivity">

        </activity>
    </application>

</manifest>